[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vgadad27
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vgadad27
	label-Verified = -1..+1 group user/vgadad27
	push = group user/vgadad27
	read = group user/vgadad27
	rebase = group user/vgadad27
	removeReviewer = group user/vgadad27
	submit = group user/vgadad27
	exclusiveGroupPermissions = label-Code-Review label-Verified push
[access "refs/heads/*"]
	create = group user/vgadad27
	push = +force group user/vgadad27
	pushMerge = group user/vgadad27
	read = group user/vgadad27
	exclusiveGroupPermissions = create push
[access "refs/tags/*"]
	push = group user/vgadad27
	push = +force group user/vgadad27
